body {
    border-left: 2px groove darkblue ;
    margin-left: 100px;
}

#title {
    color: blueviolet;
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px
}

.headerTag {
    color: black;
    border-color: gray;
    border-style: groove;
}

#boringHtml {
    font-style: italic;
}

#headings {
    font-size: 20px;
    color: lightseagreen;
    
}

#redHeading {
    color: red;
}

#sc {
    color: lightseagreen
}

#special {
    color: orange;
}

#list {
    color: lightseagreen;
}

#columnRowTable {
    
    border-style: groove;
}

th {
    border-style: groove;
}

tr {
    border-style: groove;
}

td {
    border-style: groove;
}

thead {
    border-style: groove;
}
tbody {
    border-style: groove;
}

#hyperlinks {
    color: lightseagreen;
}

#swinlink {
    color: black;
    font-weight: bold;
    border-bottom: 2px groove black;
}

#listSelection {
    color: black;
    font-weight: bold;
    border-bottom: 2px groove black;   
}

#emailId {
    color: black;
    font-weight: bold;
    border-bottom: 2px groove black;
}

#images {
    text-align: center;
    color:lightseagreen;
}
#tables {
    color:lightseagreen;
}

#boringBlock {
    border: 4px groove rgb(121, 25, 121);
    border-radius: 5px;
    height: 220px;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.3), 10px 10px rgb(204, 198, 198);
}

#boringBlockChild {
    align-self: flex-start;
}

#listBlock dl {
    border: 2px groove gray;
    padding: 10px;
}

#imagesBlock {
    border: 2px groove gray;
    padding: 10px;
}

#firstTermBlock {
    color: rgb(2, 103, 2);
    font-weight: 600;
}

.special {
    color: rgb(245, 107, 21);
}